@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

@media screen and (max-width: 1537px) {
	body {overflow-y: auto !important}
	.maindiv{width:100% !important}
	.secondarydiv{flex-direction: column;}
	.mainlist{width:80% !important}
	.last{margin-bottom: 55px !important;}
}

@media (min-width: 1537px) {
	.container {max-width: 1450px;}
	.nav-link {width:max-content;}
	.btn-group{position:initial !important; background: #00000000 !important;}
}

* {
    font-family: 'Google Sans', 'Inter', 'Segoe UI' , 'Calibri Light', 'Arial';
}

#ads, .adsbygoogle, #ads_bottom_static {
    display: none !important;
}

.btn-group {
	position: fixed;
	bottom: 50px;
	right: 20px;
	backdrop-filter: blur(2px);
	background: #00000050;
}

.closebtn {
	margin: 0px !important;
	font-size: 25px !important;
	padding: 14px 19px !important;
	margin-left: 5px !important;
}

.smallpage {
	margin-top: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap:wrap;
}

.btns {
	display:flex;
	width:100%;
	grid-gap:5px;
}

.music {
	display: flex;
   margin: 0px;
   padding: 4px 8px;
   background: #141414;
   border-radius: 500px;
   align-items: center;
	font-size: 16px;
}


input, select {
	cursor: pointer;
}

.replybtn {
	color: #909090;
   margin-left: 5px;
   font-size: 13px;
   display: block;
}

.table-inverse td, .table-inverse th, .table-inverse thead th {
    border-color: #32383e00;
}

.samepass {
  	display: none;
	color: #ffb4b4;
  	text-align: center;
  	width: 100%;
  	margin: -11px 0px -11px 0px;
  	transition: 0.3s;
}

.btn-success {
	background: #5effaf !important;
    color: #149957 !important;
}

.no {
	display: block;
  	transition: 0.3s;
}

.nav-link {
	transition: 0.2s;
}

.flag {
	vertical-align: sub;
}

.footer {
  	display: flex;
  	justify-content: space-between;
	position: fixed;
    bottom: 0px;
    font-size: 15px;
    padding: 10px;
    text-align: left;
    width: 100%;
    color: #c0c0c0;
    justify-self: center;
    background: linear-gradient(0deg, rgba(33,37,41,1) 0%, rgba(30,33,36,0) 100%);
}

.profilepic {
	font-size: 25px;
  	margin: 0px 5px 0px 5px;
}

.icon, .icon:visited {
  	transition: 0.3s;
    margin-right: 10px;
    background: #1e2124;
    height: 32px;
    width: 32px;
  	margin-left: -4px;
    text-align: center;
    display: inline-flex;
    border-radius: 500px;
	align-items: center;
    justify-content: center;
}

.table-inverse td, .table-inverse th, .table-inverse thead th {
	text-align:center;
  	vertical-align: middle;
}

.newMsgs {
	font-size: 10px;
    margin-left: -5px;
    margin-right: 3px;
    color: #e35151;
}

.msgupd {
    background-color: #212529;
    color: #c0c0c0;
    font-size: 20px;
    padding: 15px;
    margin-left: 10px;
    border: none;
    margin-top: 15px;
    border-radius: 500px;
    transition: 0.3s;
    cursor: pointer;
}

.goback {
    background-color: #212529;
    color: #c0c0c0;
    font-size: 20px;
    padding: 15px;
    margin-right: 10px;
    border: none;
    margin-top: 15px;
    border-radius: 500px;
    transition: 0.3s;
    cursor: pointer;
}

.socials {
	text-align: right;
    justify-self: center;
    justify-items: right;
    margin: 0px 3px 0px 3px;
  	background: rgba(0,0,0,0);
}

.h-captcha {
	justify-self: center;
}

.field {
    display: grid;
    width: 100%;
}

.notify {
	width: 100%;
	background: rgba(244,141,138, 0.2);
	border: 2px solid #e76161;
	border-radius: 20px;
	margin: 0px 0px 20px 0px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}

.notifyblue {
	width: 100%;
	background: rgba(29,133,240, 0.2);
	border: 2px solid #016bfc;
	border-radius: 20px;
	margin: 0px 0px 20px 0px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}

.checkbox {
    justify-items: left;
    color: white;
    width: 10%;
    margin-left: -22% !important;
}

.messengeryou {
	padding: 10px;
    margin-top: 10px;
    width: 50%;
	justify-self: right;
    border-radius: 20px;
    background: #29282c;
}

.ratecheck {
	text-align: left;
	color: white;
}

.messenger {
	padding: 10px;
    margin-top: 10px;
    width: 100%;
    border-radius: 20px;
    background: #29282c;
}

.profile {
	padding: 10px;
    margin-top: 10px;
    width: 100%;
    border-radius: 20px;
    background: #29282c;
}

.messengernotyou {
	padding: 10px;
    margin-top: 10px;
    width: 50%;
	justify-self: left;
    border-radius: 20px;
    background: #29282c;
}

.dmbox {
	max-width: 500px;
	min-width:500px;
	max-height:50vh;
	overflow: auto;
}

::-webkit-scrollbar {
	width:15px;
  	border-radius:500px;
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 100px;
}
 
.msgbox::-webkit-scrollbar-thumb,
.form::-webkit-scrollbar-thumb,
.dmbox::-webkit-scrollbar-thumb {
   background-color: #373A3F;
   border-radius: 100px;
  	border: 4px solid #181a1b;
}

.itemslist::-webkit-scrollbar-thumb {
   background-color: #373A3F;
   border-radius: 100px;
	border: 4px solid #141414;
}

.itemslist {
	overflow: auto;
   border-radius: 20px;
   grid-gap: 10px;
   display: flex;
   margin: 10px 0px 10px 0px;
   flex-wrap: wrap;
   width: 65%;
   align-content: flex-start;
}

::-webkit-scrollbar-thumb {
   background-color: #181a1b;
   border-radius: 100px;
  	border: 4px solid #373A3F;
}

.itemsbox {
	border-radius: 30px !important;
	width: 50% !important;
	padding: 0px !important;
	padding-left: 10px !important;
	display: flex;
	margin-top: 8%;
}

.itembtn {
	padding: 10px !important;
	border-radius: 20px !important;
	height:max-content;
	margin: 0px;
	margin-right: 10px;
	width: 100% !important;
	border: none !important;
}

.messageyou {
	font-size:13px;
    overflow-wrap: anywhere;
	color:white;
	margin:5px;
	text-align:right;
}

.messagenotyou {
	font-size:13px;
    overflow-wrap: anywhere;
	color:white;
	margin:5px;
	text-align:left;
}

.profilemsg {
	font-size:17px;
	color:white;
	margin:5px;
	text-align:left;
}

.msgbox {
	text-align:center;
	min-width: 500px;
	max-height: 50vh;
	overflow:auto;
}

.receiver {
	text-align:center;
	font-size:20px;
	color:white;
}

.subjectyou {
    overflow-wrap: anywhere;
	text-align:right;
	font-size:17px;
	font-weight:500;
	margin-right:5px;
	color:white;
}

.subjectnotyou {
	overflow-wrap: anywhere;
	text-align:left;
	font-size:17px;
	font-weight:500;
	margin-left:5px;
	color:white;
}

.profilenick {
	text-align:left;
	font-size:22px;
	font-weight:700;
	margin-left:5px;
	color:white;
	width: 100%;
}

.table .table {
	color: #fff;
    background: #141414;
}

.tcell {
    padding: .75rem;
    vertical-align: top;
    border-top: 3px solid #181a1b !important;
}

.field input,
.card input,
.field:focus,
.form-control,
#input {
    border-radius: 500px;
    border: 1px solid #181a1b;
    background-color: rgb(0 0 0 / 2%);
    outline: none;
    width: 100%;
    padding: 7px 10px;
    font-size: 13px;
    background: #141414;
    color: gray;
}

.details .field input {
  display: block;
  width: 130%;
} 

.details {
	width:100%;
}

.form__create > div {
    display: flex;
	width:100%;
	justify-content:center;
}

#selecthihi {
	display: flex;
	justify-content: space-between;
}
#selecthihi > select {
    width: 100%;
}
#file-upload-button {
 opacity:0;
 cursor:pointer;
}

form p,
p{
    font-size: 20px;
    color: #c0c0c0;
	text-align:center;
	margin:0px;
	width:100%;
}

.a {
    font-size: 20px;
	text-align:center;
	margin:0px;
	transition:0.2s;
	width:100%;
}

.a-btn {
	border: none;
   background: none;
	cursor: pointer;
}

.a-btn:hover {
	text-decoration: underline;
	text-decoration-color: dodgerblue;
}

summary {
	color: #d0d0d0;
	font-size:15px;
  	cursor: pointer;
}

select::-webkit-scrollbar {
	width:15px;
  	border-radius:500px;
}

select::-webkit-scrollbar-thumb {
    background-color: #141414;
    border-radius: 100px;
  	border: 4px solid #373A3F;
}

#bruh{
	margin-bottom:20px;
	font-weight: 700;
}
h2{
	font-size: 17px;
    color: #c0c0c0;
	margin-top: 0px;
	text-align:center;
    margin-bottom: 1rem;
	font-weight: 400;
}

h3{
	margin: 15px 0px 20px 0px;
	font-weight: 400;
	text-align:center;
}

body {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
	overflow: hidden;
    background-color: #36393e;
    min-height: calc(100vh - 10px);
}

.btn-primary,
.btn-primary:visited {
    background-color: #212529;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    padding: 7px 20px;
    border: none;
    border-radius: 500px;
    width: 100%;
    transition: 0.3s;
    cursor: pointer;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.msgupd:hover,
.msgupd:active,
.msgupd:focus,
.goback:hover,
.goback:active,
.goback:focus {
    background-color: #47494e;
    border-color: #47494e;
}

.btn-rendel,
.btn-rendel:visited {
    background-color: #373A3F;
    font-weight: 700;
    font-size: 15px;
	color: #007bff;
    padding: 7px 20px;
    border: none;
    border-radius: 500px;
    width: 100%;
    transition: 0.3s;
    cursor: pointer;
}

.btn-rendel:hover,
.btn-rendel:active,
.btn-rendel:focus {
	color: #007bff;
    background-color: #47494e;
	text-decoration: none;
    border-color: #47494e;
}

.accbtn {
    background-color: #373A3F00;
    font-weight: 700;
    font-size: 15px;
	color: #007bff;
  	margin:0px;
  	padding:0px;
    border: none;
    border-radius: 500px;
    cursor: pointer;
}

.btn-song,
.btn-song:visited {
    background-color: #212529;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    padding: 7px 20px;
    border: none;
    border-radius: 500px;
    width: 100%;
    transition: 0.3s;
    cursor: pointer;
}

.btn-song:hover,
.btn-song:active,
.btn-song:focus {
    background-color: #47494e;
    border-color: #47494e;
}

.btn-upload-song,
.btn-upload-song:visited {
    background-color: #212529;
    color: #c0c0c0;
    font-weight: 700;
    font-size: 15px;
    padding: 7px 20px;
    border: none;
    border-radius: 500px;
    width: 100%;
    transition: 0.3s;
    cursor: pointer;
}

.btn-upload-song input[type=file] {
	position: absolute;
	opacity: 0;
  	cursor: pointer;
    width: 0px;
    height: 0px;
}

.btn-upload-song:hover,
.btn-upload-song:active,
.btn-upload-song:focus,
.btn-size:hover,
.btn-size:active,
.btn-size:focus {
    background-color: #47494e;
    border-color: #47494e;
}

.btn-size,
.btn-size:visited {
	background-color: #ffb1ab !important;
	border-color: #ffb1ab !important;
  	transition: 0.3s;
  	color: #bc6363 !important;
}

.btn-size:hover,
.btn-size:active,
.btn-size:focus {
	color: #c0c0c0;
}

.btn-size > .icon,
.btn-size:visited > .icon {
	background: #dc8a80;
}

.btn-size:hover > .icon,
.btn-size:active > .icon,
.btn-size:focus > .icon{
	background: #1e2124;
}

.btn-block,
.btn-block:visited,
.btn-block:hover,
.btn-block:active,
.btn-block:focus,
.btn-primary:disabled{
	background: #141414;
  	color: #303030;
    font-weight: 700;
    font-size: 15px;
    padding: 7px 20px;
    border: none;
    border-radius: 500px;
    width: 100%;
    transition: 0.3s;
    cursor: default;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #181a1b;
    width: max-content;
    margin: auto auto;
    border-radius: 30px;
    padding: 7px 20px;
    box-shadow: 0 0 20px 1px #181a1b1f;
}

.form h1 {
    margin: 15px 0 15px;
    font-size: 34px;
    color: white;
	text-align:center;
}

#navbarepta {
    width: 100vw;
}

.color123 > input {
    position: relative;
    padding: 0px;
    background: none;
    border: none;
		 height: 40px;
}

.color123 > input::-webkit-color-swatch {
    border: none;
    border-radius: 500px;

}
.form__inner {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: stretch;
    grid-gap: 20px;
    font-size: 14px;
    width: 100%;
}

.imgflag {
    width: 18px;
}

select,
option,
.quest {
	 display: grid;
	 grid-template-columns: 3fr;
    border-radius: 500px;
    border: 1px solid #181a1b;
    background-color: rgb(0 0 0 / 2%);
    outline: none;
	width:100%;
    padding: 7px 10px;
    font-size: 13px;
    background: #141414;
    color: #c0c0c0;
	margin: 0px 4px 0px 4px;
}
.number {
	margin: 0px 2px 0px 2px;
}

.dropdown-menu {
    display: block;
    opacity: 0;
    visibility: hidden;
  	position: absolute !important;
    border-radius: 30px;
    text-align: left;
    transition: 0.2s;
    background: #181a1b;
}

.dropdown-menu.show {
    display: block;
    opacity: 1;
    visibility: visible;
  	position: static;
    border-radius: 30px;
    text-align: left;
    transition: 0.2s;
    background: #181a1b;
}

.dropdown-item{
    padding: .25rem 2rem 0.3rem 1rem;
    border-radius: 27px;
    transition: 0.3s;
    cursor: pointer;
    color: #c0c0c0;
    width: 0%;
    margin-left: 3%;
    text-align: left;
    font-size: 104%;
}

#center {
	text-align:center;
}

.dropdown-item:active,
.dropdown-item:hover,
.dropdown-item:focus {
    font-size: 104%;
    background: #47a0ff;
    padding: .25rem 2.2rem 0.3rem 1rem;
    border-radius: 27px;
    color: #181a1b;
    text-align: left;
    margin-left: 4%;
    width: 92%;
}
.dropdown-item:hover > .icon,
.dropdown-item:active > .icon,
.dropdown-item:focus > .icon{
	background: #8abfff;
}

.dropdown-success:hover,
.dropdown-success:active,
.dropdown-success:focus {
	background: #5effaf;
}
.dropdown-success:hover > .icon,
.dropdown-success:active > .icon,
.dropdown-success:focus > .icon {
	background: #1ce681;
}

.dropdown-error:hover,
.dropdown-error:active,
.dropdown-error:focus {
	background: #ff8787;
}
.dropdown-error:hover > .icon,
.dropdown-error:active > .icon,
.dropdown-error:focus > .icon {
	background: #f55656;
}

table,
.btn-group {
    border-radius: 20px;
}

.card {
    border-radius: 25px;
    display: inline;
    background-color: rgb(0 0 0 / 2%);
    outline: none;
    padding: 5px 10px;
    font-size: 17px;
	grid-gap: 20px;
    background: #181a1b;
    color: #c0c0c0;
}

.menubar {
    background-color: #1e2124;
    color: #d6ddde;
    justify-content: center;
}

.content {
    background-color: #36393e;
    color: #a7a8aa;
    border-radius: 25px;
}

.fill {
    flex: 1;
}

.buffer {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.container-box {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-input {
    border-radius: 20px;
    background: #141414;
}

.black-dropdown {
    background-color: #e7e7e7;
}

#lol {
    color: white;
    justify-content: center;
}

hr {
	background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.2), transparent);
	border: 0px;
	height: 1px;
	margin: 0px;
	box-sizing:content-box;
	display: block;
}

#comments {
	margin: 10px 0px 0px 0px;
	overflow-wrap: break-word;
   color: #535456;
   font-size: 13px;
   display: flex;
   justify-content: space-between;
   text-align: right;
   align-items: baseline;
}
.tooactive {
	font-weight: 700;
}
.btn-outline-secondary:enabled {
	cursor: pointer;
}

audio::-webkit-media-controls-panel,
audio::-webkit-media-controls-mute-button,
audio::-webkit-media-controls-timeline-container,
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-timeline,
audio::-webkit-media-controls-volume-slider-container,
audio::-webkit-media-controls-volume-slider,
audio::-webkit-media-controls-seek-back-button,
audio::-webkit-media-controls-seek-forward-button,
audio::-webkit-media-controls-fullscreen-button,
audio::-webkit-media-controls-rewind-button,
audio::-webkit-media-controls-return-to-realtime-button,
audio::-webkit-media-controls-toggle-closed-captions-button {
	color-scheme: dark !important;
    background: #181a1b;
	color:white;
}
.audio {
	position: fixed;
	left: 4px;
	bottom: 45px;
	width: calc(100% - 8px);
}
button > .icon:hover {
	background: #47494e !important;
	cursor: pointer;
}

.dropdown-item > .icon:hover {
	background: #8abfff !important;
	cursor: pointer;
}

progress {
  width: 100%;
  margin-top: 13px;
  margin-bottom: -8px;
  display: block; /* default: inline-block */
  background: #141414;
  transition: 0.2s;
  border-radius: 500px;
}

progress::-webkit-progress-bar {
    background: transparent;
	transition: 0.2s;
	border-radius: 500px;
} 

progress::-webkit-progress-value {  
  border-radius: 500px;
  background: #3EE667;
  transition: 0.2s;
  padding: 5px;
} 

label {
	margin: 0px;
}

.mainlist {
	width: 48%;
	padding: 5px 20 20px 20;
	border-radius: 47px;
}

.maindiv {
	margin-top:20px;
	width: 70%;
}

.secondarydiv {
	display: flex;
   grid-gap: 10px;
}

.lilcard {
	display: inherit;
	border-radius: 30px;
	margin: 0px;
	flex-wrap: nowrap;
	padding: 0 5 15 20;
	min-width: 100%;
	justify-content: space-between;
	height: max-content;
	margin-bottom: 0px;
	align-items: center;
	width:100%;
	background: #29282c;
	transition: 0.3s;
}

.lilcard:hover,
.lilcard:active, 
.lilcard:focus {
	background: #47494e;
}

.lilcardcontent {
	width: 100%;
	display: flex;
	height: 100%;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;
}

.dropdown-item.big {
	padding: 15px;
   padding-left: 25px;
   border-radius: 500px;
	.icon{height: 45px;width: 45px;}
}